# Ignore the development environment
# TODO: Think more about if this is necessary
.vscode
.venv

# Ignore compiled artifacts
*.c
*.o
*.so
*.exe


# Ignore external libraries for now
client/lib/
server/lib/
*.dll